profile = conventional
break-cases = all
margin = 77
parse-docstrings = true
wrap-comments = true
cases-matching-exp-indent = normal
cases-exp-indent = 2
let-and = sparse
parens-tuple = multi-line-only
field-space = loose
space-around-records = false
space-around-lists = false
space-around-arrays = false
space-around-variants = false
module-item-spacing = preserve
break-struct = force
exp-grouping = preserve