name: Build and test
on: [push,pull_request]
jobs:
  run:
    name: Build
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        ocaml-compiler: ['4.12.0']
    steps:
    - uses: actions/checkout@v2
    - name: Cache _opam
      uses: actions/cache@v2
      id: cache-opam
      with:
        path: _opam
        key: ${{ runner.os }}-opam
    - uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}
        dune-cache: true
    # It looks like the cache isn't being populated here,
    # so let's try to do an explicit install then make sure
    # that it gets written to the cache in the right place.
    - run: opam install . --deps-only
    - run: make
    - run: make test
